<%- include('head', { sivu: '404' }) %>
<main style="height: 60vh;">
    <h1>404 - Ei löytynyt!</h1>
    <p>Hakemaasi sivua ei löytynyt!</p>
    <a href="/" id="palaaetusivulle"><button>Palaa Etusivulle</button></a>
</main>
<%- include('footer') %>