:root {
    --väri1: #92010c;
    --väri2: #20aad8;
    --väri3: #373435;
    --väri4: #ffffff;
    --otsikko-fontti: 'Lato', sans-serif;
    --leipäteksti-fontti: 'Teko', sans-serif;
}

body {
    font-family: var(--leipäteksti-fontti);
    color: var(--väri4);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--otsikko-fontti);
}

header {
    background-color: var(--väri1);
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

header img {
    border-radius: 50%;
}

header form {
    display: flex;
}

header input {
    border-radius: 8px 0 0 8px;
    border: none;
}

header button {
    border-radius: 0 8px 8px 0;
    border: none;
}


header > div {
    display: flex;
    gap: 12px;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

nav > ul > a {
    margin: 3px;
    padding: 10px;
    color: var(--leipäteksti-fontti);
    text-decoration: none;
}

main {
    margin: 2em;
    padding: 1em;
    background-color: var(--väri1);
}

aside {
    margin: 0.1em;
    margin-top: 2em;
    padding: 1em;
    background-color: var(--väri1);
}

#elokuvakortit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#elokuvakortit a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.elokuvakortti {
    background-color: var(--väri2);
    width: 35%;
    padding: 15px;
    margin: 20px;
}

.elokuvakortti a {
    text-decoration: none;
    color: var(--väri4);
}

#näyttelijäkortit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#näyttelijäkortit > a {
    color: var(--väri4);
    text-decoration: none;
    align-items: center;
    background-color: var(--väri2);
    width: 35%;
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#näyttelijäkortit > a > p {
    background-color: rgba(159, 159, 159, 0.498);
    width: 100%;
    padding: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kategoriakortti {
    display: flex;
}
.kategoriakortti a {
    margin: 10px;
    width: 100%;
}
.kategoriakortti button {
    padding: 10px;
    width: 100%;
    border: rgb(7, 7, 27);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.556);
}
.kategoriakortti button:hover {
    background-color: rgba(255, 255, 255, 0.789);
    cursor: pointer;
}

#sivutus {
    display: flex;
    border-radius: 8px;
    gap: 15px;
    width: fit-content;
    background-color: var(--väri2);
}
#sivutus a {
    padding: 10px;
    text-decoration: none;
    color: var(--väri4);
    width: 100%;
}

#palaaetusivulle button {
    color: var(--väri4);
    font-size: 18px;
    background-color: var(--väri2);
    border-radius: 8px;
    border: none;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#palaaetusivulle button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.elokuvaflex {
    display: flex;
    text-transform: capitalize;
}

.elokuvaflex p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#elokuva {
    text-transform: capitalize;
}

#elokuva h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#elokuva > div {
    margin: 9px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#kategoria {
    color: var(--väri4);
    background-color: var(--väri2);
    font-size: .975rem;
    font-weight: 400;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    cursor: pointer;
    display: inline-flex;
    padding: 0.35rem 1.05rem;
}
#kategoria:hover {
    opacity: 0.89;
}

#elokuvanayttelijat a {
    text-decoration: none;
    color: var(--väri2);
    margin: 11px;
}

.erikoisuus {
    color: var(--väri4);
    background-color: transparent;
    border: #20aad8 2.5px solid;
    font-size: .875rem;
    font-weight: 400;
    align-items: center;
    border-radius: 0.8rem;
    display: inline-flex;
    padding: 0.3rem 0.85rem;
}
#katsolisaa {
    color: var(--väri4);
    background-color: rgba(159, 159, 159, 0.827);
    font-size: .975rem;
    font-weight: 400;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    cursor: pointer;
    display: inline-flex;
    padding: 0.35rem 1.05rem;
}

#katsolisaa:hover {
    background-color: rgba(159, 159, 159, 0.627);
}