body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

ul {
    display: flex;
    list-style-type: none;
}

nav > ul > a {
    margin: 3px;
    padding: 10px;
    text-decoration: none;
}

main {
    margin: 2em;
    padding: 1em;
    background-color: rgb(159, 159, 159);
}

aside {
    margin: 0.1em;
    margin-top: 2em;
    padding: 1em;
    background-color: rgb(159, 159, 159);
}

#elokuvakortit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.elokuvakortti {
    background-color: whitesmoke;
    width: 35%;
    padding: 15px;
    margin: 20px;
}

.elokuvakortti > p {
    background-color: rgba(159, 159, 159, 0.498);
    padding: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kategoriakortti {
    display: flex;
}
.kategoriakortti a {
    margin: 10px;
    width: 100%;
}
.kategoriakortti button {
    padding: 10px;
    width: 100%;
    border: rgb(7, 7, 27);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.556);
}
.kategoriakortti button:hover {
    background-color: rgba(255, 255, 255, 0.789);
    cursor: pointer;
}